# PyCharm
.idea/
*.iml
*.ipr
*.iws
*.sublime-workspace

# VSCode
.vscode/

*.swp
package-lock.json
.pytest_cache
*.egg-info

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.env/
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# CDK Context & Staging files
.cdk.staging/
cdk.out/
main.py/
cdk.context.json

# aws-sam-cli
.aws-sam/

# ignore env/ infrastructure
.env
main.py
